/* Responsive Styles */

/* Max-width: 1400px */
@media screen and (max-width: 1400px) {
    #profile {
        height: 55vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
    #contact, #projects {
        height: fit-content;
    }
    #closebutton2 {
        width: 60px;
        position: relative;
        top: 10rem;
        left: 68vw;
        border-radius: 20px;
        display: none;
    }
    #profpic {
        width: 25vw;
        height: auto;
        max-height: 580px;
        display: block;
        margin: 0 auto;
    }
    #projects1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    #projects1 button.i {
        width: 8vw;
        height: 40vh;
        transition: all 0.5s ease;
    }
    
    #projects1 button.i:hover {
        width: 20vw;
        height: 50vh;
    }
}

/* Max-width: 1200px */
@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #experience, .experience-details-container {
        margin-top: 2rem;
    }
    #profile, .section-container {
        display: block;
    }
    .arrow {
        display: none;
    }
    section {
        margin: 0 5%;
    }
    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers {
        margin-top: 0;
    }
    .achievements > div > button {
        width: 48vw;
        height: 5vh;
    }
    #closebutton2 {
        width: 60px;
        position: relative;
        top: -65rem;
        left: 82vw;
        border-radius: 20px;
        display: none;
    }
    #profpic {
        width: 30vw;
        height: auto;
        max-height: 550px;
    }
    .section-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .about-details-container {
        width: 100%;
        padding: 20px;
    }
    #projects1 button.i {
        width: 7vw;
        height: 35vh;
    }
    #projects1 button.i:hover {
        width: 18vw;
        height: 45vh;
    }
}

/* Max-width: 600px */
@media screen and (max-width: 600px) {
    #profpic {
        width: 90%;
        max-width: 350px;
        height: auto;
        border-radius: 10px;
    }
    #contact, footer {
        height: 40vh;
    }
    #profile {
        height: 83vh;
        margin-bottom: 0;
    }
    article {
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers, .contact-info-upper-container, .btn-container {
        flex-wrap: wrap;
    }
    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p, .nav-links li a {
        font-size: 1rem;
    }
    .experience-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section__text__p2 {
        font-size: 1.25rem;
    }
    .title {
        font-size: 2rem;
    }
    .text-container {
        text-align: justify;
    }
    #projects1 {
        width: 83vw;
        height: 70vh;
        position: absolute;
        bottom: 25%;
        left: 5%;
        display: flex
;
        justify-content: space-around;
        background-color: transparent;
    }
    .section-container {
        flex-direction: column;
    }
    .about-details-container {
        width: 100%;
        padding: 10px;
    }
    #projects1 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 10px;
    }
    #projects1 button.i {
        width: 6vw;
        height: 30vh;
    }
    #projects1 button.i:hover {
        width: 15vw;
        height: 40vh;
    }
    .achievements {
        text-align: center;
        padding: 10px;
    }
    .details-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
